# Add files here to ignore them from prettier formatting

/dist
/coverage

/apps/myblog/node_modules
/apps/myblog/public
/apps/myblog/.cache

/apps/century-tree-pro/node_modules
/apps/century-tree-pro/public
/apps/century-tree-pro/.cache

/apps/children-place-five-five/node_modules
/apps/children-place-five-five/public
/apps/children-place-five-five/.cache

/apps/children-place-five-five/node_modules
/apps/children-place-five-five/public
/apps/children-place-five-five/.cache
